<ion-tabs>

  <ion-tab-bar slot="bottom">
    <ion-tab-button tab="rooms-tab">
      <ion-icon name="cube"></ion-icon>
      <ion-label translate>$rooms-tab.rooms-tab-title</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="owner-tab">
      <ion-icon name="megaphone"></ion-icon>
      <ion-label translate>$owner-tab.owner-tab-title</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="peers-tab">
      <ion-icon name="contacts"></ion-icon>
      <ion-label translate>$peers-tab.peers-tab-title</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="help-tab">
      <ion-icon name="information-circle-outline"></ion-icon>
      <ion-label translate>$help-tab.help-tab-title</ion-label>
    </ion-tab-button>
  </ion-tab-bar>

</ion-tabs>
